@page "/doctrina"
@inject HttpClient Http
@inject GlobalUtil globalUtil
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<Spinner />

<section class="row bg-light text-dark">
    <article class="col">
        <h1 itemprop="name" class="text-center tituloHdos">Doctrina</h1>
    </article>
</section>

<div class="row mb-2">
    <div class="col d-flex justify-content-center">
        <img class="imgMain" src="@UrlImagenDoctrina" width="50%" />
    </div>
</div>

<div class="d-flex justify-content-center">
    <PaginacionSecciones PageSize="PageSize" PageIndex="PageIndex" PageChanged="PageChanged" TotalPages="TotalPages" />
</div>

<section class="container bg-white pt-2">
    <section class="row row-cols-1 row-cols-md-3 g-4">

        @if (listaDoctrina != null)
        {
            foreach (var seccion in listaDoctrina)
            {
                <section class="col hvr-shrink">
                    <section class="card hvr-shrink cardTieneContenido">
                        <NavLink title="Ver sección" class="text-decoration-none" href="@($"detalleDoctrina/{globalUtil.GenerarSlug(seccion.IdDoctrina, seccion?.Titulo)}")">

                            <input type="hidden" id="id" name="id" value="seccion.GenerateSlug" />

                            <header>
                                <h5 style="background-color: #5b6d7f !important;" class="card-header text-white">@seccion.Titulo</h5>
                                @if (!string.IsNullOrWhiteSpace(seccion.UrlImagen))
                                {
                                    <img alt="@seccion.Titulo" style="max-width: 200px !important; margin: 0 auto;" src="@($"{globalUtil.UrlIDCAnterior}/{seccion.UrlImagen}")" class="card-img-top d-block">
                                }
                            </header>

                            <article class="card-body">
                                @seccion.Descripcion
                            </article>

                            <footer class="card-footer py-0 px-0 d-grid">
                                <button style="background-color: #5b6d7f !important; border-radius: 0px !important;" class="btn btn-sm btn-dark btn-block">Ver artículo completo</button>
                            </footer>
                        </NavLink>
                    </section>
                </section>
            }
        }
    </section>

</section>

<div class="d-flex mt-2 justify-content-center">
    <PaginacionSecciones PageSize="PageSize" PageIndex="PageIndex" PageChanged="PageChanged" TotalPages="TotalPages" />
</div>

@code {
    private DoctrinaDTO[]? listaDoctrina;
    private int TotalPages { get; set; }
    private int PageSize { get; set; } = 12;
    private int PageIndex { get; set; } = 1;
    public string? UrlImagenDoctrina { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        listaDoctrina = await Http.GetFromJsonAsync<DoctrinaDTO[]>($"{globalUtil.UrlApi}/api/doctrina/pag/{PageIndex}/{PageSize}");
        if (listaDoctrina != null)
        {
            TotalPages = listaDoctrina[0].TotalPaginas;
            UrlImagenDoctrina = $"{globalUtil.UrlIDCAnterior}/{listaDoctrina[0].UrlImagenDoctrina}";
        }
    }

    public class DoctrinaDTO
    {
        public int IdDoctrina { get; set; }
        public int IdCongregacion { get; set; }
        public string? Titulo { get; set; }
        public string? Descripcion { get; set; }
        public string? UrlImagen { get; set; }
        public int TotalPaginas { get; set; }
        public string? UrlImagenDoctrina { get; set; }
    }

    private async Task PageChanged(int page)
    {
        PageIndex = page;
        await LoadData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(2000);
            await JSRuntime.InvokeVoidAsync("hideSpinnerOP");
        }
    }
}
